/* reset to 0 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222222;
    margin: 10px;
}

#terminal {
    text-align: left;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#window {
    padding: 10px;
}

.input {
    outline-color: #222222;
    color: white;
    border: none;
    display: inline-block;
}

.user {
    color: #56E880;
}

.output {
    color: #4A92E8;
}

.tick {
    color: #FF733D;
}
